<app-hero-about></app-hero-about>

<div class="container">
    <div class="row row-cols-2">
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, quia. Reprehenderit saepe ratione quis animi iure rerum sed dignissimos, ducimus nemo tenetur optio fugit vero exercitationem delectus temporibus labore? Debitis harum voluptatibus
            nulla eum, maxime optio velit totam nostrum incidunt rem consectetur iste eos ab. Excepturi doloribus mollitia illo suscipit!</p>
    </div>
</div>