<nav class="navbar navbar-expand-sm justify-content-center fixed-top navbar-dark navbar-scrolled">
    <div class="container text-center">
        <a class="navbar-brand mx-auto" href="#"><!-- <img class="d-inline-block align-text-top" width="100" src="/assets/logo.jpg" alt="logo"> --></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto" style="color:white">


                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About
            </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">The team</a></li>
                        <li><a class="dropdown-item" href="#">Our mission</a></li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tours
            </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Europe</a></li>
                        <li><a class="dropdown-item" href="#">Africa</a></li>
                        <li><a class="dropdown-item" href="#">North America </a></li>
                        <li><a class="dropdown-item" href="#">South America </a></li>
                        <li><a class="dropdown-item" href="#">Asia</a></li>
                        <li><a class="dropdown-item" href="#">Australia & New Zealand </a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            News
            </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Blog</a></li>
                        <li><a class="dropdown-item" href="#">Travel Diaries</a></li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Schedule</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Gallery
            </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">European Cities</a></li>
                        <li><a class="dropdown-item" href="#">On the Road</a></li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Pages
            </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Our partners</a></li>
                        <li><a class="dropdown-item" href="#">Travel Documents</a></li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacts</a>
                </li>

            </ul>
        </div>
    </div>
</nav>