nav {
    background-color: var(--navbar-scroll);
    transition: background-color 0.2s ease;
    color: var(--navbar-scroll-text);
    -webkit-box-shadow: var(--navbar-scroll-shadow);
    box-shadow: var(--navbar-scroll-shadow);
    font-size: 0.9rem;
    font-family: 'GlacialIndifference_reg';
    letter-spacing: 2px;
    position: fixed;
    top: 0px;
    height: 70px;
    z-index: 2;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(3px);
}

.dropdown-menu {
    font-size: 0.9rem;
    font-family: 'GlacialIndifference_reg';
    background-color: var(--dropdown-menu);
    border-radius: 0%;
    border-color: none !important;
    text-decoration: none !important;
    color: var( --dropdown-menu-font-color);
}

.nav-item dropdown {
    font-size: 0.9rem;
}

.nav-item:hover {
    background-color: var(--nav-item-hover);
    /* color: rgba(172, 171, 172, 0.3); */
}

#navbarNavDropdown {
    background-color: var(--nav-item-collspse);
    transition: background-color 0.2s ease;
}

#title {
    position: relative;
    left: -60px;
}

@media screen and (max-width: 576px) {
    nav {
        height: 90px;
    }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
    nav {
        height: 90px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    nav {
        height: 90px;
    }
}