<nav class="navbar navbar-expand-lg justify-content-end fixed-top navbar-dark">
    <div class="container-fluid">

        <a class="navbar-brand ms-4" routerLink="/" id="title"><img class="d-inline-block align-text-center ms-5 mt-2 pt-0" style="width: 180px;" src="/assets/images/TravelLogo.png" alt="logo"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


        <div class="collapse navbar-collapse align-text-center" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto ps-2 pe-2 ps-sm-2 pe-sm-2 ps-md-2 pe-md-2 mt-lg-3 me-lg-2 mt-xl-3 me-xl-2" style="color:white;">


                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">HOME</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/about">ABOUT</a>
                </li>

                <li class="nav-item dropdown">

                    <li class="nav-item dropdown ">
                        <a class="nav-link disabled dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           DESTINATIONS
            </a>
                        <ul class="dropdown-menu" style="min-width:145px;">
                            <li><a class="dropdown-item" style="width: 144px !important;" href="#">CITIES</a></li>
                            <li><a class="dropdown-item" style="width: 144px !important;" href="#">OCEAN</a></li>
                            <li><a class="dropdown-item" style="width: 144px !important;" href="#">MOUNTAINS</a></li>
                            <li><a class="dropdown-item" style="width: 144px !important;" href="#">DESERT</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">

                        <li class="nav-item dropdown ">
                            <a class="nav-link disabled dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              TRAVEL RESOURCES
                </a>
                            <ul class="dropdown-menu" style="min-width:220px;">
                                <li><a class="dropdown-item" style="width: 219px !important;" href="#">GUIDEBOOKS</a></li>
                                <li><a class="dropdown-item" style="width: 219px !important;" href="#">TRAVEL INSURANCE</a></li>
                                <li><a class="dropdown-item" style="width: 219px !important;" href="#">FAVORITE HOSTELS</a></li>
                                <li><a class="dropdown-item" style="width: 219px !important;" href="#">ACCOMMODATION TIPS</a></li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="#" routerLink="/contact">CONTACT</a>
                        </li>

            </ul>
        </div>
    </div>
</nav>