    /* hero section  */
    
    .hero {
        width: 100vw;
        height: 90vh;
        object-fit: cover;
        align-items: center;
        top: 0px;
        z-index: -1;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/assets/palmSky.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: absolute;
        margin-bottom: 3rem;
    }
    
    #hr {
        height: 3px;
        border-width: 0;
        width: 80px;
        background-color: rgb(150, 40, 90);
    }
    
    .post-text {
        font-size: 0.7rem !important;
        text-align: left;
        font-family: 'GlacialIndifference_reg';
        letter-spacing: 1px;
        margin-top: 3.5rem;
        background-color: whitesmoke;
        color: rgb(150, 40, 90);
    }
    
    #post-text-top::first-letter {
        -webkit-initial-letter: 2;
        initial-letter: 2;
        color: rgb(150, 40, 90);
        font-weight: bold;
        margin-right: .50em;
    }
    
    .back {
        color: black;
        font-size: 0.7rem !important;
        text-align: left;
        font-family: 'GlacialIndifference_reg';
        letter-spacing: 1px;
        text-decoration: none;
        cursor: pointer;
    }
    /* media query */
    
    @media screen and (max-width: 576px) {
        .cont-top-text {
            font-size: 1.7rem !important;
        }
        .cont-top-img {
            width: 100% !important;
        }
        .cont-top-title {
            margin-top: -1rem !important;
        }
        .post-title {
            margin-top: -3rem !important;
            z-index: 1;
            height: 190px !important;
            padding-bottom: 5rem !important;
        }
        .post-text {
            width: 80% !important;
            text-align: justify;
            text-justify: inter-word;
        }
        .img-right img {
            width: 70vw !important;
        }
        .cont-second-row-left {
            width: 80vw !important;
            height: 50vh !important;
        }
        .cont-second-row-right {
            width: 60vw !important;
            height: 50vh !important;
        }
        .horiz-img {
            width: 90vw !important;
            height: 50vh !important;
        }
        .central-left {
            width: 90vw !important;
            height: 50vh !important;
        }
        .central-right {
            width: 60vw !important;
            height: 50vh !important;
        }
        .bottom-left {
            width: 70vw !important;
            height: 60vh !important;
        }
        .bottom-right {
            width: 70vw !important;
            height: 60vh !important;
        }
    }
    
    @media screen and (min-width: 577px) and (max-width: 767px) {
        .cont-top-text {
            font-size: 1.7rem !important;
        }
        .cont-top-img {
            width: 60vw !important;
        }
        .cont-top-title {
            margin-top: -1rem !important;
        }
        .post-title {
            margin-top: -3rem !important;
            z-index: 1;
            height: 190px !important;
            padding-bottom: 5rem !important;
        }
        #post-text-top {
            width: 50% !important;
        }
        #post-text-bottom {
            width: 50% !important;
        }
        .img-right img {
            width: 40vw !important;
            height: 55vh !important;
        }
        .cont-second-row-left {
            width: 59% !important;
            height: 50vh !important;
        }
        .cont-second-row-right {
            width: 40% !important;
            height: 50vh !important;
        }
        .horiz-img {
            width: 90vw !important;
            height: 50vh !important;
        }
        .central-left {
            width: 59% !important;
            height: 50vh !important;
        }
        .central-right {
            width: 40% !important;
            height: 50vh !important;
        }
        #long-right {
            height: 70vh !important;
            width: 35vw !important;
        }
        .bottom-left {
            width: 50% !important;
            height: 50vh !important;
        }
        .bottom-right {
            width: 50% !important;
            height: 50vh !important;
        }
    }
    
    @media screen and (min-width: 768px) and (max-width: 992px) {
        .post-title {
            padding-top: 2rem;
            margin-top: 0.8rem;
            margin-left: -3rem !important;
            z-index: 1;
            height: 200px !important;
        }
        .cont-top-img {
            margin-left: 1rem !important;
        }
        .cont-top-title {
            margin-top: -1rem !important;
        }
        #post-text-top {
            width: 50% !important;
        }
        #post-text-bottom {
            width: 59% !important;
        }
        .img-right img {
            width: 40vw !important;
            height: 55vh !important;
        }
        .cont-second-row-left {
            width: 59% !important;
            height: 50vh !important;
        }
        .cont-second-row-right {
            width: 40% !important;
            height: 50vh !important;
        }
        .horiz-img {
            width: 90vw !important;
            height: 50vh !important;
        }
        .central-left {
            width: 59% !important;
            height: 50vh !important;
        }
        .central-right {
            width: 40% !important;
            height: 50vh !important;
        }
        #long-right {
            height: 70vh !important;
            width: 35vw !important;
        }
        .bottom-left {
            width: 50% !important;
            height: 50vh !important;
        }
        .bottom-right {
            width: 50% !important;
            height: 50vh !important;
        }
    }
    
    @media screen and (min-width: 992px) and (max-width: 1200px) {
        .post-title {
            padding-top: 2rem;
            margin-top: 0.8rem;
            margin-left: -6rem !important;
            z-index: 1;
            height: 240px !important;
        }
        .cont-top-img {
            margin-left: 2rem !important;
        }
        .bottom-left {
            width: 35vw !important;
            height: 50vh !important;
        }
    }
    
    @media screen and (min-width: 1201px) and (max-width: 2000px) {
        .post-title {
            padding-top: 2rem;
            margin-top: 1.2rem;
            margin-left: -14rem !important;
            z-index: 1;
        }
        .cont-top-img {
            margin-left: 1rem !important;
        }
        .cont-top-title {
            margin-top: -1rem !important;
        }
        #post-text-top {
            width: 50% !important;
        }
        #post-text-bottom {
            width: 50% !important;
        }
        .img-right img {
            width: 30vw !important;
            height: 60vh !important;
        }
        .cont-second-row-left {
            width: 64% !important;
            height: 70vh !important;
        }
        .cont-second-row-right {
            width: 35% !important;
            height: 70vh !important;
        }
        .horiz-img {
            width: 100vw !important;
            height: 80vh !important;
        }
        .central-left {
            width: 60% !important;
            height: 70vh !important;
        }
        .central-right {
            width: 40% !important;
            height: 70vh !important;
        }
        #long-right {
            height: 70vh !important;
            width: 35vw !important;
        }
        .bottom-left {
            width: 35% !important;
            height: 50vh !important;
        }
        .bottom-right {
            width: 35% !important;
            height: 50vh !important;
        }
    }
    
    @media screen and (min-width: 2001px) {
        .post-title {
            padding-top: 2rem;
            margin-top: 1.2rem;
            margin-left: -14rem !important;
            z-index: 1;
        }
        .cont-top-img {
            margin-left: 1rem !important;
        }
        .cont-top-text {
            color: red!important;
        }
        .cont-top-title {
            margin-top: -1rem !important;
        }
        #post-text-top {
            width: 50% !important;
        }
        #post-text-bottom {
            width: 50% !important;
        }
        .img-right img {
            width: 30vw !important;
            height: 60vh !important;
        }
        .cont-second-row-left {
            width: 64% !important;
            height: 70vh !important;
        }
        .cont-second-row-right {
            width: 35% !important;
            height: 70vh !important;
        }
        .horiz-img {
            width: 100vw !important;
            height: 80vh !important;
        }
        .central-left {
            width: 60% !important;
            height: 70vh !important;
        }
        .central-right {
            width: 40% !important;
            height: 70vh !important;
        }
        #long-right {
            height: 70vh !important;
            width: 35vw !important;
        }
        .bottom-left {
            width: 40% !important;
            height: 50vh !important;
        }
        .bottom-right {
            width: 35% !important;
            height: 50
        }
    }