<div class="hero"><br>
    <br>
    <div class="container mb-2 pb-2 d-flex flex-direction-row flex-wrap justify-content-center flex-sm-wrap flex-md-nowrap flex-lg-nowrap flex-xl-nowrap align-items-center" style="padding-top: 10rem;">

        <div class="img mx-sm-auto">
            <img src="/assets/griffith.jpg" alt="LA" style="width: 45vw;" class="cont-top-img mb-2 mt-3">
        </div>

        <div class="post-title mx-sm-auto">
            <h2 class="cont-top-title " style=" font-family: 'Mynerve', cursive; color: rgb(216, 112, 147, 0.7);">the latest</h2>
            <div class="mx-auto mt-3 mb-2" id="hr"></div>
            <p class="cont-top-text text-wrap fs-1 mt-3 pb-sm-1" style="font-family: 'GlacialIndifference_reg'; letter-spacing: 2px; text-decoration: none; color:black;"> Two Weeks in <br>La La Land</p>
        </div>
    </div>
</div>

<div class="container mb-1 pb-1 mt-1 pt-1 d-flex flex-direction-row flex-wrap justify-content-center flex-sm-nowrap flex-md-nowrap flex-lg-nowrap flex-xl-nowrap align-items-center" style="padding-top: 2rem;">
    <div class="post-text mx-auto mt-2 mt-sm-2 mt-md-2 me-md-2 me-lg-2 me-xl-5" style="width:60%;" id="post-text-top">
        <p>Los Angeles is a sprawling metropolis that is known for its stunning beaches, iconic landmarks, vibrant nightlife, and rich cultural history. Whether you're a first-time visitor or a seasoned traveler, Los Angeles has something to offer everyone.
            Los Angeles is a city that has something for everyone. <br><br>From its stunning beaches to its iconic landmarks, vibrant nightlife, and rich cultural history, LA is a destination that should be on everyone's bucket list. So pack your bags,
            book your tickets, and get ready to explore the City of Angels!
        </p>
    </div>
    <div class="img-right mx-auto mx-sm-auto ms-xl-0">
        <img src="/assets/downtownLA.jpg" alt="DowntownLA" style="width: 40vw; height:60vh;">
    </div>
</div>
<div class="container">
    <div class="post-text mx-auto mt-2 mt-sm-4" style="width:100%;  text-align: justify;
    text-justify: inter-word;">
        <p>First, the beaches. Los Angeles is home to some of the most beautiful beaches in the world, and each one offers a unique experience. If you're looking for a relaxing day in the sun, head to Santa Monica Beach.This beach is known for its wide sandy
            beaches, colorful lifeguard towers, and the famous Santa Monica Pier. For a more laid-back atmosphere, check out Manhattan Beach, a charming coastal community that's perfect for a morning jog or an afternoon picnic.
        </p>
    </div>
</div>

<div class="container w-90 mb-1 pb-1 mt-1 pt-2 pt-sm-0 d-flex flex-direction-row flex-wrap flex-sm-nowrap flex-md-nowrap flex-lg-nowrap flex-xl-nowrap">
    <img src="/assets/sMon2.jpg" alt="SMonicaPier" style="width: 64%; height:70vh;margin-right:0.2rem;" class="cont-second-row-left mx-auto mt-2 mt-sm-2 ms-sm-0 me-sm-2">
    <img src="/assets/sMonica.jpg" alt="SMonica" style="width: 35%; height:70vh; margin-left:0.2rem;" class="cont-second-row-right mx-auto mt-2 mt-sm-2 ms-sm-0 me-sm-0">
</div>

<div class="container ">
    <div class="post-text mt-3 mt-sm-3 mx-auto mt-2 mt-sm-2" style="width:100%;  text-align: justify;
    text-justify: inter-word;">
        <p>Venice Beach is a vibrant and eclectic destination that offers something for everyone. One of the highlights of Venice Beach is the Ocean Front Walk, a bustling pedestrian promenade that is filled with street performers, artists, and vendors selling
            everything from handmade jewelry to tasty street food. Another popular attraction is Muscle Beach, a legendary outdoor gym where bodybuilders and fitness enthusiasts come to work out and show off their impressive physiques.
        </p>
    </div>
</div>
<div class="container mb-1 pb-1 mt-1 pt-1 d-flex flex-direction-row flex-wrap flex-sm-nowrap flex-md-nowrap flex-lg-nowrap flex-md-nowrap flex-lg-nowrap flex-xl-nowrap mx-auto" style="padding-top: 2rem; width:100%;">
    <img src="/assets/veniceBeach.jpg" alt="veniceBeach" style="width: 100%; height:80vh;" class="horiz-img mx-auto mx-sm-auto"></div>

<div class="container w-90 mb-1 pb-md-1 pb-lg-1 pb-xl-1 mt-1 pt-1 d-flex flex-direction-row flex-wrap flex-sm-nowrap flex-md-nowrap flex-lg-nowrap flex-xl-nowrap" style="padding-top: 2rem;">
    <img src="/assets/Ven2.jpg" alt="SMonicaPier" style="width: 64%; height:60vh;margin-right:0.2rem;" class="central-left mx-auto ms-sm-0 me-sm-2 me-xl-2 mb-1 mb-sm-1 mb-md-0 md-lg-0 mb-xl-0">
    <img src="/assets/Muscbeach.jpg" alt="SMonica" style="width: 35%; height:60vh; margin-left:0.2rem;" class="central-right mx-auto mt-2 mt-sm-0 me-sm-0 mt-md-0 mt-lg-0 mt-xl-0">
</div>

<div class="container mb-1 pt-lg-2 pt-sm-1 pt-md-2 mt-xl-2 pb-1 mt-1 mt-sm-3 mt-md-3 pb-sm-4 pt-lg-1 pt-xl-1 d-flex flex-direction-row flex-wrap justify-content-center flex-sm-nowrap flex-md-nowrap flex-lg-nowrap flex-xl-nowrap align-items-lg-center align-items-xl-center align-items-md-center"
    style="width:100%;">
    <div class="post-text mx-auto me-sm-2 me-md-3 mt-sm-4 me-lg-3 me-xl-5 ms-xl-0  pb-4 pb-sm-2 pb-md-0 pb-lg-0 pb-xl-0" style="width:60%;" id="post-text-bottom">
        <p>Next, LA's iconic landmarks. The Hollywood Sign is perhaps one of the most recognizable landmarks in the world, perched atop the Hollywood Hills and visible from miles away. The best way to get up close to the sign is to hike the nearby trails
            in Griffith Park, which offer stunning views of the city and the sign itself. <br><br> Another must-see landmark is the Griffith Observatory. Located on top of Griffith Park, the observatory offers stunning views of the city, as well as a
            chance to explore the wonders of the universe. <br><br> For a more cultural experience, head to the Getty Center, an art museum perched on a hilltop in the Brentwood neighborhood. The Getty houses an impressive collection of European paintings,
            sculptures, and decorative arts, as well as stunning gardens and outdoor spaces that offer panoramic views of the city.

        </p>
    </div>
    <div class="img-right mt-sm-2 mt-xl-3">
        <img src="/assets/hollywood.jpg" alt="DowntownLA" style="width: 35vw; height:70vh;" id="long-right">
    </div>
</div>

<div class="container w-90 mb-1 pb-1 mt-1 mt-sm-0 pt-md-2 pt-lg-2 pt-sm-0 pt-1 d-flex flex-direction-row flex-wrap flex-sm-nowrap flex-md-nowrap flex-lg-nowrap flex-xl-nowrap">
    <img src="/assets/griffith_2.jpg" alt="griffithObservatory" style="width: 55%; height:60vh;margin-right:0.2rem;" class="bottom-right mx-auto mt-2 mt-sm-0 mt-md-0 mt-lg-0 mt-xl-0 me-sm-2 mx-xl-auto me-xl-2">
    <img src="/assets/gettyCenter.jpg" alt="gettyCenter" style="width: 45%; height:60vh; margin-left:0.2rem;" class="bottom-right mx-auto mt-2 mt-sm-0 mt-md-0 mt-lg-0 mt-xl-0 mx-xl-auto ms-xl-0">
</div>

<div class="container ">
    <div class="post-text mt-4 mx-auto mx-sm-auto " style="width:100%; text-align: justify; text-justify: inter-word; ">
        <p>Finally, no trip to LA would be complete without a visit to the Walk of Fame is another must-visit landmark for any movie buff, with over 2,600 stars lining the sidewalks of Hollywood Boulevard and Vine Street. From Marilyn Monroe and Elvis Presley
            to Michael Jackson and Beyonce, the stars honor some of the biggest names in entertainment.
        </p>
    </div>
</div>

<div class="container ">
    <div class="post-text mt-4 mx-auto mx-sm-auto " style="width:100%; text-align: justify; text-justify: inter-word; ">

        <p>Like this post? Share it with others!
        </p>
        <i class="bi bi-facebook fs-4 me-2 "></i>
        <i class="bi bi-twitter fs-4 me-2 "></i>
        <i class="bi bi-instagram fs-4 "></i>
    </div>
    <br>
    <br>
    <div>
        <a class="back"><i class="bi bi-arrow-left-short" routerLink="/">Back</i></a>
        <br>
        <br>
    </div>
</div>