<div class="hero"><br>
    <br>
    <div class="container mb-2 pb-2 d-flex flex-direction-row flex-wrap justify-content-center flex-sm-wrap flex-md-nowrap flex-lg-nowrap flex-md-nowrap flex-lg-nowrap flex-xl-nowrap align-items-center" style="padding-top: 10rem;">

        <div class="img mx-sm-auto">
            <img src="/assets/griffith.jpg" alt="LA" style="width: 45vw;" class="cont-top-img mb-2 mt-3">
        </div>

        <div class="post-title mx-sm-auto">
            <h2 class="cont-top-title " style=" font-family: 'Mynerve', cursive; color: rgb(216, 112, 147, 0.7);">the latest</h2>
            <div class="mx-auto mt-3 mb-2" id="hr"></div>
            <p class="cont-top-text text-wrap fs-1 mt-3 pb-sm-1" style="font-family: 'GlacialIndifference_reg'; letter-spacing: 2px; text-decoration: none; color:black;"> Two Weeks in <br>La La Land</p>
        </div>
    </div>
</div>

<div class="container mb-1 pb-1 mt-1 pt-1 d-flex flex-direction-row flex-wrap justify-content-center flex-sm-wrap flex-md-nowrap flex-lg-nowrap flex-md-nowrap flex-lg-nowrap flex-xl-nowrap align-items-center" style="padding-top: 2rem;">
    <div class="post-text mx-auto me-2" style="width:60%;" id="post-text-top">
        <p>Los Angeles is a sprawling metropolis that is known for its stunning beaches, iconic landmarks, vibrant nightlife, and rich cultural history. Whether you're a first-time visitor or a seasoned traveler, Los Angeles has something to offer everyone.
            Los Angeles is a city that has something for everyone. <br><br>From its stunning beaches to its iconic landmarks, vibrant nightlife, and rich cultural history, LA is a destination that should be on everyone's bucket list. So pack your bags,
            book your tickets, and get ready to explore the City of Angels!
        </p>
    </div>
    <div class="img-right">
        <img src="/assets/downtownLA.jpg" alt="DowntownLA" style="width: 40vw; height:60vh;">
    </div>
</div>
<div class="container">
    <div class="post-text mt-4" style="width:100%;  text-align: justify;
    text-justify: inter-word;">
        <p>First, the beaches. Los Angeles is home to some of the most beautiful beaches in the world, and each one offers a unique experience. If you're looking for a relaxing day in the sun, head to Santa Monica Beach.This beach is known for its wide sandy
            beaches, colorful lifeguard towers, and the famous Santa Monica Pier. For a more laid-back atmosphere, check out Manhattan Beach, a charming coastal community that's perfect for a morning jog or an afternoon picnic.
        </p>
    </div>
</div>

<div class="container mb-1 pb-1 mt-1 pt-1 d-flex flex-direction-row flex-wrap flex-sm-wrap flex-md-nowrap flex-lg-nowrap flex-md-nowrap flex-lg-nowrap flex-xl-nowrap" style="padding-top: 2rem; width:100%;">
    <img src="/assets/sMon2.jpg" alt="SMonicaPier" style="width: 64%; height:60vh;margin-right:0.2rem;">
    <img src="/assets/sMonica.jpg" alt="SMonica" style="width: 35%; height:60vh; margin-left:0.2rem;">
</div>
<div class="container">
    <div class="post-text mt-4" style="width:100%;  text-align: justify;
    text-justify: inter-word;">
        <p>Venice Beach is a vibrant and eclectic destination that offers something for everyone. One of the highlights of Venice Beach is the Ocean Front Walk, a bustling pedestrian promenade that is filled with street performers, artists, and vendors selling
            everything from handmade jewelry to tasty street food. Another popular attraction is Muscle Beach, a legendary outdoor gym where bodybuilders and fitness enthusiasts come to work out and show off their impressive physiques.
        </p>
    </div>
</div>
<div class="container mb-1 pb-1 mt-1 pt-1 d-flex flex-direction-row flex-wrap flex-sm-wrap flex-md-nowrap flex-lg-nowrap flex-md-nowrap flex-lg-nowrap flex-xl-nowrap mx-auto" style="padding-top: 2rem; width:100%;">
    <img src="/assets/veniceBeach.jpg" alt="veniceBeach" style="width: 100%; height:70vh;"></div>

<div class="container mb-1 pb-1 mt-1 pt-1 d-flex flex-direction-row flex-wrap flex-sm-wrap flex-md-nowrap flex-lg-nowrap flex-md-nowrap flex-lg-nowrap flex-xl-nowrap" style="padding-top: 2rem; width:100%;">
    <img src="/assets/Ven2.jpg" alt="SMonicaPier" style="width: 64%; height:60vh;margin-right:0.2rem;">
    <img src="/assets/Muscbeach.jpg" alt="SMonica" style="width: 35%; height:60vh; margin-left:0.2rem;">
</div>

<div class="container mb-1 pb-1 mt-1 pt-1 d-flex flex-direction-row flex-wrap justify-content-center flex-sm-wrap flex-md-nowrap flex-lg-nowrap flex-md-nowrap flex-lg-nowrap flex-xl-nowrap align-items-center" style="padding-top: 2rem;width:100%;">
    <div class="post-text mx-auto me-3" style="width:60%;">
        <p>Next, LA's iconic landmarks. One of the most recognizable landmarks in LA is the Hollywood Sign. Take a hike to the top of the Hollywood Hills to get a closer look at this iconic symbol of the entertainment industry. Another must-see landmark
            is the Griffith Observatory. Located on top of Griffith Park, the observatory offers stunning views of the city, as well as a chance to explore the wonders of the universe.
        </p>
    </div>
    <div class="img-right">
        <img src="/assets/hollywood.jpg" alt="DowntownLA" style="width: 35vw; height:70vh;">
    </div>
</div>