<app-hero-home></app-hero-home>

<!-- <div class="container w-100" style="background-color: whitesmoke;"> -->

<div class="container h-100 mb-4 pb-4 w-100" id="cont-top" style="background-color: whitesmoke;">
    <div class="img">
        <img src="/assets/griffith.jpg" alt="LA" style="width: 50vw;position: relative;" class="cont-top-img mb-2">
    </div>
    <div class="post-title">
        <h2 class="cont-top-title" style=" font-family: 'Mynerve', cursive; color: rgb(216, 112, 147, 0.7);">the latest</h2>
        <div class="mx-auto mt-3 mb-2" id="hr"></div>
        <a class="cont-top-text text-wrap fs-1 mt-3" style="font-family: 'GlacialIndifference_reg'; letter-spacing: 2px; text-decoration: none; color:black;" href="#"> Two Weeks in <br>La La Land</a>
    </div>
</div>


<div class="container mt-2 pt-2 w-100 h-100 pb-4" id="cont-bottom" style="background-color: whitesmoke;">
    <h1 class="home-title">MOST POPULAR</h1>
    <div class="row row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1" style="row-gap:3rem;">

        <div class="cardDiv">
            <div class="card mx-auto border-0" style="width: 22rem;">
                <img src="/assets/paris.jpg" class="card-img width:100" alt="Paris" style="height:20rem">
                <div class="card-img-overlay">
                    <h5 class="card-title">PARIS</h5>
                    <a class="btn btn-light btn-sm d-grid gap-2 col-6 mx-auto align-self-center my-auto" id="btn-card"><b>LEARN MORE</b></a>
                    <!-- <p class="card-text">Havana, Trinidad, Santiago de Cuba, Baracoa, Cayos</p>
                    <p class="card-text2"><small> 14 nights, €3000</small></p> -->
                </div>
            </div>
        </div>

        <div class="cardDiv mx-auto">
            <div class="card h-70 border-0" style="width: 22rem;margin: 0 auto">
                <img src="/assets/MValley.jpg" class="card-img w-100" alt="Monument Valley" style="height:20rem">
                <div class="card-img-overlay">
                    <h5 class="card-title text-wrap">SOUTH WEST USA</h5>
                    <a class="btn btn-light btn-sm d-grid gap-2 col-6 mx-auto align-self-center my-auto" id="btn-card"><b>LEARN MORE</b></a>
                    <!-- <p class="card-text">Yosemite, Death Valley, Zion, Bryce, Grand Canyon</p> -->
                    <!-- <p class="card-text2"><small> 14 nights, €3500</small></p> -->
                </div>
            </div>
        </div>

        <div class="cardDiv mx-auto">
            <div class="card h-70 border-0" style="width: 22rem;margin: 0 auto">
                <img src="/assets/hawaii.jpg" class="card-img w-100" alt="Hawaii" style="height:20rem">
                <div class="card-img-overlay">
                    <h5 class="card-title">HAWAII</h5>
                    <a class="btn btn-light btn-sm d-grid gap-2 col-6 mx-auto" id="btn-card"><b>LEARN MORE</b></a>
                    <!-- <p class="card-text">Kauai, O'ahu, Moloka'i, Lanai, Maui, Hawai'i</p>
                    <p class="card-text2"><small> 20 nights, €5500</small></p> -->
                </div>
            </div>
        </div>

        <div class="cardDiv mx-auto">
            <div class="card h-70 border-0" style="width: 22rem;margin: 0 auto">
                <img src="/assets/puertoRico.jpg" class="card-img width:100" alt="PRico" style="height:20rem">
                <div class="card-img-overlay">
                    <h5 class="card-title">PUERTO RICO</h5>
                    <a class="btn btn-light btn-sm d-grid gap-2 col-6 mx-auto" id="btn-card"><b>LEARN MORE</b></a>
                    <!-- <p class="card-text">San Juan, Utuado, Arecibo, Ponce, Aguadilla</p> -->
                    <!-- <p class="card-text2"><small> 14 nights, €2500</small></p> -->
                </div>
            </div>
        </div>

        <div class="cardDiv mx-auto">
            <div class="card h-70 border-0" style="width: 22rem;margin: 0 auto ">
                <img src="/assets/cuba.jpg" class="card-img width:100" alt="Cuba" style="height:20rem">
                <div class="card-img-overlay">
                    <h5 class="card-title">CUBA</h5>
                    <a class="btn btn-light btn-sm d-grid gap-2 col-6 mx-auto" id="btn-card"><b>LEARN MORE</b></a>
                    <!-- <p class="card-text">Taormina, Lipari, Panarea, Stromboli, Vulcano, Salina </p>
                    <p class="card-text2"><small> 10 nights, €2000</small></p> -->
                </div>
            </div>
        </div>

        <div class="cardDiv mx-auto">
            <div class="card h-70 border-0" style="width: 22rem; margin: 0 auto">
                <img src="/assets/california.jpg" class="card-img w-100" alt="Los Angeles" style="height:20rem">
                <div class="card-img-overlay">
                    <h5 class="card-title">CALIFORNIA</h5>
                    <a class="btn btn-light btn-sm d-grid gap-2 col-6 mx-auto" id="btn-card"><b>LEARN MORE</b></a>
                    <!-- <p class="card-text">Los Angeles, San Diego, Monterey, San Francisco</p>
                    <p class="card-text2"><small> 14 nights, €2500</small></p> -->
                </div>
            </div>
        </div>

    </div>
</div>

<br><br>
<!-- <div class="parallax-container"> -->

<div class="parallax w-100">
    <div class="overlay align-middle mt-lg-5 ms-lg-5 mt-md-5 ms-md-5 mt-sm-5 ms-sm-5 mt-5 ms-3">
        <p style="font-family: 'Mynerve', cursive; color: white; text-align: center;">“Travelers are dreamers who make their desires for adventure a reality.”</p>
    </div>
</div>

<!-- </div> -->


<div class="bar">
    <h1 class="parallax-title pt-5 mb-5">BLOG CATEGORIES</h1>
    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 mx-auto" style="width:90%; row-gap: 4rem;">

        <div class="cardDiv mb-4">
            <div class="card mx-auto border-0" style="width: 15rem; margin: 0 auto">
                <img src="/assets/NY.jpg" class="card-img w-100" alt="NY" style="height:14rem;">
                <div class="card-img-overlay">
                    <h1 class="bar-title" href=""><a href="" style="text-decoration: none; color:black;">CITIES</a></h1>
                </div>
            </div>
        </div>

        <div class="cardDiv mb-4">
            <div class="card mx-auto border-0" style="width: 15rem; margin: 0 auto">
                <img src="/assets/ocean2.jpg" class="card-img w-100" alt="ocean" style="height:14rem;">
                <div class="card-img-overlay">
                    <h1 class="bar-title" href=""><a href="" style="text-decoration: none; color:black;">OCEAN</a></h1>
                </div>
            </div>
        </div>

        <div class="cardDiv mb-4">
            <div class="card mx-auto border-0" style="width: 15rem; margin: 0 auto">
                <img src="/assets/mountain.jpg" class="card-img w-100" alt="Los Angeles" style="height:14rem;">
                <div class="card-img-overlay">
                    <h1 class="bar-title" href=""><a href="" style="text-decoration: none; color:black;">MOUNTAINS</a></h1>
                </div>
            </div>
        </div>
        <div class="cardDiv mb-4">
            <div class="card mx-auto border-0" style="width: 15rem; margin: 0 auto">
                <img src="/assets/desert.jpg" class="card-img w-100" alt="desert" style="height:14rem;">
                <div class="card-img-overlay">
                    <h1 class="bar-title" href=""><a href="" style="text-decoration: none; color:black;">DESERT</a></h1>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="about mt-0 pt-0">
        <div class="container w-100 h-100 pt-1 mt-0 mb-4 pb-4 mt-md-0 pt-md-3 d-flex flex-direction-row flex-wrap flex-sm-wrap flex-md-nowrap flex-lg-nowrap flex-xl-nowrap justify-content-center align-items-center" style="background-color: whitesmoke;" id="container-about">


            <div class="img">
                <img src="/assets/blogger.jpg" alt="me" class="cont-para-img mt-0 pt-0 mt-md-0 pt-md-5 pb-md-3 mb-lg-2 mx-auto mx-sm-auto mx-lg-auto ms-lg-4 ps-lg-2">
            </div>

            <div class="post-title-paral text-wrap mx-auto mx-sm-auto text-sm-wrap text-md-wrap text-lg-wrap mb-3 pt-4 mt-0 mt-md-3 pt-md-4 pt-lg-4">

                <h2 class="cont-top-title text-start ms-4 ms-sm-4 ms-md-3 ms-lg-4" style=" letter-spacing: 2px; color: rgb(150, 40, 90);font-size:0.9rem;">MEET MARIA</h2>
                <h2 class="cont-top-title ps-4" style=" font-family: 'Mynerve', cursive; color: rgb(216, 112, 147, 0.7);">About Me</h2>

                <p class="cont-paral-text mx-auto lh-base mb-4 mb-md-3 pb-md-2" style="letter-spacing: 1px; text-decoration: none; font-size: 0.9rem; color:black;" href="#"> With a curious spirit and a love for new cultures, I travel the world to discover hidden gems and share my experiences with others. Through my blog, I wish to inspire anyone looking to embark on their own travel adventure. Follow along
                    with my journey and get inspired to discover the world!</p>
                <button routerLink="/about" class="btn btn-light btn-sm mx-auto pb-1 pb-md-0 mb-md-0 mb-lg-4 pb-lg-1" id="btn-card-paral" style="display:block;"><b>LEARN MORE</b></button>
            </div>






        </div>

        <div class="parallax2 "></div>