<app-hero-home></app-hero-home>

<div class="container">
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 row-gap-5 col-gap-3">


        <div class="cardDiv">
            <div class="card h-70" style="width: 22rem">
                <img src="/assets/griffith.jpg" class="card-img width:100" alt="Los Angeles" style="height:20rem">
                <div class="card-img-overlay">
                    <h5 class="card-title">CALIFORNIA</h5>
                    <p class="card-text">Los Angeles, San Diego, Monterey, San Francisco</p>
                    <p class="card-text2"><small> 14 nights, €2500</small></p>
                </div>
            </div>
        </div>


        <div class="cardDiv">
            <div class="card h-70" style="width: 22rem">
                <img src="/assets/hawaii.jpg" class="card-img width:100" alt="Hawaii" style="height:20rem">
                <div class="card-img-overlay">
                    <h5 class="card-title">HAWAII</h5>
                    <p class="card-text">Kauai, O'ahu, Moloka'i, Lanai, Maui, Hawai'i</p>
                    <p class="card-text2"><small> 20 nights, €4500</small></p>
                </div>
            </div>
        </div>


        <div class="cardDiv">
            <div class="card h-70" style="width: 22rem">
                <img src="/assets/MValley.jpg" class="card-img width:100" alt="Monument Valley" style="height:20rem">
                <div class="card-img-overlay">
                    <h5 class="card-title">NATIONAL PARKS</h5>
                    <p class="card-text">Yosemite, Death Valley, Zion, Bryce, Grand Canyon</p>
                    <p class="card-text2"><small> 14 nights, €3500</small></p>
                </div>
            </div>
        </div>



        <div class="cardDiv">
            <div class="card h-70" style="width: 22rem">
                <img src="/assets/cuba4.jpg" class="card-img width:100" alt="Havana" style="height:20rem">
                <div class="card-img-overlay">
                    <h5 class="card-title">CUBA</h5>
                    <p class="card-text">Havana, Trinidad, Santiago de Cuba, Baracoa, Cayos</p>
                    <p class="card-text2"><small> 14 nights, €3000</small></p>
                </div>
            </div>
        </div>


        <div class="cardDiv">
            <div class="card h-70" style="width: 22rem">
                <img src="/assets/puertoRico.jpg" class="card-img width:100" alt="PRico" style="height:20rem">
                <div class="card-img-overlay">
                    <h5 class="card-title">PUERTO RICO</h5>
                    <p class="card-text">San Juan, Utuado, Arecibo, Ponce, Aguadilla</p>
                    <p class="card-text2"><small> 14 nights, €2500</small></p>
                </div>
            </div>
        </div>
        <div class="cardDiv">
            <div class="card h-70" style="width: 22rem">
                <img src="/assets/taormina.jpg" class="card-img width:100" alt="Italy" style="height:20rem">
                <div class="card-img-overlay">
                    <h5 class="card-title">EOLIE ISLANDS</h5>
                    <p class="card-text">Taormina, Lipari, Panarea, Stromboli, Vulcano, Salina </p>
                    <p class="card-text2"><small> 10 nights, €2000</small></p>
                </div>
            </div>

        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="parallax"></div>
</div>
<div class="bar">
    <p>“Travelers are dreamers who make their desires for adventure a reality.”</p>
</div>

<div class="parallax2"></div>