<app-scroll-to-top></app-scroll-to-top>
<footer class="bg-light text-center">
    <section class="section">
        <div class="part1  mx-auto" style="width:50%">
            <h1 class="mx-auto mt-4 pt-2">TRAVEL DIARES</h1>
            <p class="mx-auto text-xl-wrap text-lg-wrap text-md-wrap text-sm-wrap ms-5 ps-1 me-5">
                Join me on my journey to explore the world and discover the beauty of different cultures, one adventure at a time.
            </p>
        </div>


        <div class="part2 d-flex flex-column mt-4 pt-1 mx-auto lh-lg" style="width:12.5%;">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Contact</a>
        </div>


        <div class="part3 d-flex flex-column mt-4 pt-1 mx-auto lh-lg" style="width:12.5%;">
            <a href="">Resources</a>
            <a href="">Destinations</a>
        </div>


        <div class="part4 mt-4 pt-1 mx-auto" style="width:25%">

            <ul class="ftco-footer-social ps-0">

                <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fab fa-facebook-f"></span></a></li>
                <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="fab fa-instagram"></span></a></li>
                <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><span class="fab fa-pinterest"></span></a></li>
            </ul>
        </div>


    </section>
    <div class="part5 text-centered" style="width:100%;text-align: center;">
        <h2 class="footer-heading mt-4" style="width:100%; color:white;">Subscribe to our Newsletter</h2>

        <form action="#" class="subscribe-form pb-3">
            <div class=" form-group d-flex justify-content-center">
                <input type="text " class="form-control pe-3" placeholder="Enter email address" style="width:15rem;height:2.1rem;border-radius: 0; ">
                <button type="submit" value="Subscribe" class="btn ms-2" style="width:8rem;height:2.1rem;background-color: rgb(150, 40, 90); border-color:none; border-radius:0;color:white;font-size: 0.8rem;letter-spacing: 2px;" id="subscribe">SUBSCRIBE</button>
            </div>
        </form>
    </div>
    <hr>
    <div class="footer-bottom">
        <p class="copyright ms-5" style="color:white;">Copyright ©2023 Donatella Tesei</p>
        <a class="me-5" href="#" style="text-decoration: none;   color: rgb(150, 40, 90);">Terms & Conditions</a>
    </div>
</footer>