<!-- <section class="hero">
    <div class="hero-inner">
        <h1>Helping people make memories</h1>
        <img src="assets/hero.jpg" alt=""> -->
<!-- </div>
</section> -->
<section class="hero">
    <div class="hero-inner">
        <h1>Helping people make memories</h1>
        <!-- <img class="bg-image" src="/assets/hero.jpg" alt="Bg image"> --><br>

        <br>

        <a routerLink="/about" class="btn btn-light btn-sm"><b>EXPLORE TRIPS</b></a>

    </div>

    <!-- <i class="bi bi-arrow-down-circle-fill" id="arrow" (click)="toBottom()"></i> -->