<!-- <section class="hero">
    <div class="hero-inner">
        <h1>Helping people make memories</h1>
        <img src="assets/hero.jpg" alt=""> -->
<!-- </div>
</section> -->
<section class="hero">
    <div class="hero-inner">
        <h1>Helping people make memories</h1>
        <!-- <img class="bg-image" src="/assets/hero.jpg" alt="Bg image"> --><br>
        <p>With hundreds of holiday destinations offered, we are your <br> natural choice for planning it all out!
        </p>
        <br>
        <br>
        <a routerLink="/about" class="btn btn-light btn-sm"><b>Learn more</b></a>

    </div>